DB_HOST=localhost
DB_PORT=5432
DB_NAME=aact_new
DB_USER=rails
DB_PASSWORD=password

AACT_CORE_DB_HOST=localhost
AACT_CORE_DB_PORT=5432
AACT_CORE_DB_NAME=aact
AACT_CORE_DB_USER=rails
AACT_CORE_DB_PASSWORD=password