DB_HOST=localhost
DB_PORT=5432
DB_NAME=aact_new
DB_USER=rails
DB_PASSWORD=password

AACT_CORE_DB_URL=postgres://rails:password@localhost:5432/aact

LOGS_SERVER_HOST=138.197.44.53
LOGS_SERVER_USER=root