<!DOCTYPE html>
<html>
    <head>
        <title>Component Preview</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    </head>
    <body class="p-8 bg-gray-100">
        <%= yield %>
    </body>
</html>
